__pycache__/
Data/Translation/
Notebooks/logs/
Notebooks/machine-translation/finetuned_en_nl/model.safetensors
Notebooks/machine-translation/finetuned_nl_en/model.safetensors
Notebooks/transformer-outputs/
Notebooks/transformer-models/
artifacts/
application.log
